<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <section id="food-menu">
            <h2 class="food-menu-heading">Food Menu</h2>
            <div class="food-menu-container container">
                <div class="food-menu-item">
                    <div class="food-img">
                        <img src="static/images/momos.jpg" alt="menu-1">
                    </div>
                    <div class="food-description">
                        <h2 class="food-title">Food Menu Item 1</h2>
                        <p>MOMOS.</p>
                        <p class="food-price"> Price: &#8377;150 </p>
                    </div>
                </div>
                <div class="food-menu-item">
                    <div class="food-img">
                        <img src="https://i.postimg.cc/sgzXPzzd/food-menu2.jpg" alt="menu-2">
                    </div>
                    <div class="food-description">
                        <h2 class="food-title">Food Menu Item 2</h2>
                        <p>LODED FRIES</p>
                        <p class="food-price"> Price: &#8377;250 </p>
                    </div>
                </div>
                <div class="food-menu-item">
                    <div class="food-img">
                        <img src="https://i.postimg.cc/8zbCtYkF/food-menu3.jpg" alt="menu-3">
                    </div>
                    <div class="food-description">
                        <h2 class="food-title">Food Menu Item 3</h2>
                        <p>KFC COMBO</p>
                        <p class="food-price"> Price: &#8377;540 </p>
                    </div>
                </div>
                <div class="food-menu-item">
                    <div class="food-img">
                        <img src="https://i.postimg.cc/Yq98p5Z7/food-menu4.jpg" alt="menu-4">
                    </div>
                    <div class="food-description">
                        <h2 class="food-title">Food Menu Item 4</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                        <p class="food-price"> Price: &#8377;352 </p>
                    </div>
                </div>
                <div class="food-menu-item">
                    <div class="food-img">
                        <img src="https://i.postimg.cc/KYnDqxkP/food-menu5.jpg" alt="menu-5">
                    </div>
                    <div class="food-description">
                        <h2 class="food-title">Food Menu Item 5</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                        <p class="food-price"> Price: &#8377;265 </p>
                    </div>
                </div>
                <div class="food-menu-item">
                    <div class="food-img">
                        <img src="https://i.postimg.cc/Jnxc8xQt/food-menu6.jpg" alt="menu-6">
                    </div>
                    <div class="food-description">
                        <h2 class="food-title">Food Menu Item 6</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                        <p class="food-price"> Price: &#8377;295 </p>
                    </div>
                </div>
            </div>
        </section>
    <!-- food menu ends -->

</body>
</html>